body {
  margin: 48px;
  font-family: sans-serif;
  font-size: 1.2em;
  line-height: 1.5;
}

h1, h2 {
  font-family: serif;
  border-bottom: 1px black solid;

}

h1, h2, h3 {
    margin-top: 48px;
}

blockquote {
  font-style: italic;
}

.square-bullets {
  list-style-type: square;
}

table {
  border: 1px black solid;
  background-color:#f8f9fa;
  text-align: left;
  border-collapse: collapse;
}

td {
  border: 1px black solid;
  padding-left: 4px;

}

th {
  border: 1px black solid;
  background-color: #eaecf0;
  padding-left: 4px;
}

#scene-img {
  float: right;
}